:set so=5
:set clipboard=unnamedplus
:set relativenumber
:set number
:set visualbell
:set noerrorbells
:set ignorecase
:set smartcase
:set hlsearch
:nmap N :noh<CR>
:nmap gD :action GotoImplementation<CR>
